<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>【电动汽车_电动车导购_电动汽车价格_电动汽车排名】-易车网</title>
    <meta name="Keywords" content="电动汽车,电动汽车导购,易车网" />
    <meta name="Description" content="电动汽车:易车网电动汽车频道为您提供全国电动汽车市场的电动汽车经销商最新报价,电动汽车品牌大全,电动车价格,电动车排名,评测内容等,更多电动车信息尽在易车网。" />

    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/公共控件.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/头部控件.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/底部控件.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/广告.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/焦点图.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/新闻列表.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/2015选车工具.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/2015车型对比.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/2015选车.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/新能源频道/css/main.css">
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/提示.css" />
    <script type="text/javascript" charset="utf-8" src="http://ip.yiche.com/iplocation/setcookie.ashx"></script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/jscommon/juqery/jquery-1.9.1.min.js"></script>
</head>
<body>
    <!-- header start  -->
    <div class="op-nav">
        <a id="gobackElm" href="javascript:;" class="btn-return">返回</a>
        <div class="tt-name">
            <a href="http://m.yiche.com/" class="yiche-logo">汽车</a><h1>新能源车</h1>
        </div>
        <!--#include file="/include/pd/2016/wap/00001/201607_wap_common_ejdht_Manual.shtml"-->
    </div>
    <!-- header end -->
    <div class="xc-result-box">
        <!-- 筛选 start  -->
        <div class="sort sort4 sort-bg-white sort-pop y2015A ">
            <ul>
                <li>
                    <a href="###" data-action="grade-dltype" id="btnFuelType">
                        <span>动力类型</span>
                        <i></i>
                    </a>
                </li>
                <li>
                    <a href="###" data-action="grade-country" id="btnBrandType">
                        <span>国别</span>
                        <i></i>
                    </a>
                </li>
                <li>
                    <a href="###" data-action="grade-cartype" id="btnBodyform">
                        <span>车身形式</span>
                        <i></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- 筛选 end  -->
        <!-- 大图列表 start  -->
        @if (!string.IsNullOrEmpty(ViewData["PhotoListResultHtml"].ToString()))
          {
            <div class="pic-car-list">
                <ul>
                    @(Html.Raw(ViewData["PhotoListResultHtml"]))
                </ul>
            </div>
         }
        else
        {
            <div class="buy-car new-car">
                <div class="tishi-box">
                    <div class="tishi-tu tishi-zanwu"></div>
                    <div class="tishi-small">未找到合适的车型<br />请调整一下选车条件</div>
                </div>
            </div>
        }
        <!-- 分页start -->
        <div class="m-pages b-shadow" style="display: none">
            <a href="javascript:void(0)" class="m-pages-pre m-pages-none">上一页</a>
            <div class="m-pages-num">
                <div class="m-pages-num-con"><span id="curPageIndex">1</span>/<span id="totalPage">1</span></div>
                <div class="m-pages-num-arrow"></div>
            </div>
            <select class="m-pages-select"></select>
            <a href="javascript:void(0)" class="m-pages-next">下一页</a>
        </div>
        <!-- 分页 end -->
        <!-- 大图列表 end  -->
    </div>
    <!--footer start-->
    <div class="footer15">
        <!--搜索框-->
        @Html.Partial("~/html/footersearch.cshtml")
        @Html.Partial("~/html/footerV3.cshtml")
    </div>
    <!--footer end-->
    <!--弹出层 start-->
    <div class="leftmask leftmask3" style="display: none;"></div>

    <!--loading模板 start -->
    <div class="template-loading" style="display: none;">
        <div class="loading">
            <img src="http://image.bitautoimg.com/uimg/mbt2015/images/loading.gif" />
            <p>正在加载...</p>
        </div>
    </div>
    <!--loading模板 end -->
    <!-- 动力类型 start  -->
    <!-- 弹出层 start  -->
    <div class="leftPopup grade-dltype" data-back="leftmask3" style="display: none;">
        <div class="swipeLeft">
            <div class="loading">
                <img src="http://image.bitautoimg.com/uimg/mbt2015/images/loading.gif" />
                <p>正在加载...</p>
            </div>
        </div>
    </div>
    <!--弹出层 end-->
    <!--公共模板 start-->
    <script type="text/template" id="gradeTemplate1">
        <div class="ap">
            <ul class="first-list rp jg-sx-sty">
                <li class="current"><a id="f_0">不限</a></li>
                <li><a id="f_16">纯电动</a></li>
                <li><a id="f_128">插电混动</a></li>
            </ul>
        </div>
    </script>
    <!--公共模板 end-->
    <!-- 动力类型 end  -->
    <!-- 国别 start  -->
    <!-- 弹出层 start  -->
    <div class="leftPopup grade-country" data-back="leftmask3" style="display: none;">
        <div class="swipeLeft">
            <div class="loading">
                <img src="http://image.bitautoimg.com/uimg/mbt2015/images/loading.gif" />
                <p>正在加载...</p>
            </div>
        </div>
    </div>
    <!--弹出层 end-->
    <!--公共模板 start-->
    <script type="text/template" id="gradeTemplate4">
        <div class="ap">
            <ul class="first-list rp jg-sx-sty">
                <li class="current"><a href="javascript:GotoPage('g0')" id="g_0">不限</a></li>
                <li><a id="g_1">自主</a></li>
                <li><a id="g_2">合资</a></li>
                <li><a id="g_4">进口</a></li>
            </ul>
        </div>
    </script>
    <!--公共模板 end-->
    <!-- 国别 end  -->
    <!-- 车身类型 start  -->
    <!-- 弹出层 start  -->
    <div class="leftPopup grade-cartype" data-back="leftmask3" style="display: none;">
        <div class="swipeLeft">
            <div class="loading">
                <img src="http://image.bitautoimg.com/uimg/mbt2015/images/loading.gif" />
                <p>正在加载...</p>
            </div>
        </div>
    </div>
    <!--弹出层 end-->
    <!--公共模板 start-->
    <script type="text/template" id="gradeTemplate5">
        <div class="ap">
            <ul class="first-list rp jg-sx-sty">
                <li class="current"><a href="javascript:GotoPage('b0')" id="b_0">不限</a></li>
                <li><a id="b_64">SUV</a></li>
                <li><a id="b_1">俩厢</a></li>
                <li><a id="b_2">三厢</a></li>

            </ul>
        </div>
    </script>
    <!--公共模板 end-->
    <!-- 车身类型 end  -->
    <script type="text/javascript" src="http://image.bitautoimg.com/mergejs,s=carchannel/wirelessjsv2/v2/iscroll.js,carchannel/wirelessjsv2/v2/underscore.js,carchannel/wirelessjsv2/v2/model.js,carchannel/wirelessjsv2/v2/rightswipe.js?v=201712121500"></script>
    <script type="text/javascript">
        $(function () {
            var $body = $('body');
            var data = {
            };
            $body.trigger('publicswipe1', {
                actionName: '[data-action=grade-dltype]',
                ds: data,
                templateid: '#gradeTemplate1',
                fnEnd: function () {
                    var $swipeLeft = this, $back = $('.' + $swipeLeft.parent().attr('data-back'));
                    SelectPhotoTool.initSingleFilter("f");
                    $swipeLeft.find('a').click(function (ev) {
                        ev.preventDefault();
                        var $click = $(this);
                        GotoPage($click.attr("id"));
                        $back.trigger('close');
                    })
                }
            });
            //   国别
            $body.trigger('publicswipe1', {
                actionName: '[data-action=grade-country]',
                ds: data,
                templateid: '#gradeTemplate4',
                fnEnd: function () {
                    var $swipeLeft = this, $back = $('.' + $swipeLeft.parent().attr('data-back'));
                    SelectPhotoTool.initSingleFilter("g");
                    $swipeLeft.find('a').click(function (ev) {
                        ev.preventDefault();
                        var $click = $(this);
                        GotoPage($click.attr("id"));
                        $back.trigger('close');
                    })
                }
            });
            //   车身类型
            $body.trigger('publicswipe1', {
                actionName: '[data-action=grade-cartype]',
                ds: data,
                templateid: '#gradeTemplate5',
                fnEnd: function () {
                    var $swipeLeft = this, $back = $('.' + $swipeLeft.parent().attr('data-back'));
                    SelectPhotoTool.initSingleFilter("b");
                    $swipeLeft.find('a').click(function (ev) {
                        ev.preventDefault();
                        var $click = $(this);
                        GotoPage($click.attr("id"));
                        $back.trigger('close');
                    })
                }
            });
        })

    </script>
    <script type="text/javascript" src="/js/elec/PhotoList.js"></script>
    <script type="text/javascript">
        SelectPhotoTool.Parameters = @Html.Raw(ViewData["GenerateSearchInitScript"]);
        SelectPhotoTool.CSCount = @Html.Raw(ViewData["CSCount"]);
        SelectPhotoTool.initPageCondition();
    </script>
</body>
</html>

