<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>@(ViewData["title"])</title>
    <meta name="Keywords" content="@(ViewData["keyWords"])" />
    <meta name="Description" content="@(ViewData["description"])" />

    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/公共控件.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/头部控件.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/底部控件.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/广告.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/焦点图.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/新闻列表.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/2015选车工具.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/2015车型对比.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/2015选车.css" />
    <link rel="stylesheet" type="text/css" href="http://192.168.0.10:8888/m/20160519移动站改版/新能源频道/css/main.css">
    <script type="text/javascript" charset="utf-8" src="http://ip.yiche.com/iplocation/setcookie.ashx"></script>
</head>
<body>
    <!-- header start  -->
    <div class="op-nav">
        <a id="gobackElm" href="javascript:;" class="btn-return">返回</a>
        <div class="tt-name">
            <a href="http://m.yiche.com/" class="yiche-logo">汽车</a><h1>新能源车</h1>
        </div>
        <!--#include file="/include/pd/2016/wap/00001/201607_wap_common_ejdht_Manual.shtml"-->
    </div>
    <!-- 补贴政策 start  -->
    <!--#include file="/include/pd/2016/wap/00001/201801_mobile_newenergy_subsidypolicyNavigation_Manual.shtml"-->
    <!--#include file="/include/pd/2016/wap/00001/201801_mobile_newenergy_subsidypolicy_Manual.shtml"-->
    <!-- 补贴政策 end  -->
    <!--footer start-->
    <div class="footer15">
        <!--搜索框-->
        @Html.Partial("~/html/footersearch.cshtml")
        @Html.Partial("~/html/footerV3.cshtml")
    </div>
    <!--footer end-->
    <script src="http://image.bitautoimg.com/uimg/mbt2015/js/jquery-2.1.4.min.js" type="text/javascript"></script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/common/swiper-3.2.7.min.js"></script>
    <script>
        //nav swiper组件初始化
        var mySwiper = new Swiper('.js-type-top-nav', {
            freeMode: true,
            freeModeMomentumRatio: 0.5,
            slidesPerView: 'auto'
        });
        swiperWidth = mySwiper.container[0].clientWidth;
        maxTranslate = mySwiper.maxTranslate();
        maxWidth = -maxTranslate + swiperWidth / 2;

        var caclOffset = function (mySwiper, slide) {
            slideLeft = slide.offsetLeft;
            slideWidth = slide.clientWidth;
            slideCenter = slideLeft + slideWidth / 2;

            // 计算被点击slide的中心点，计算偏移
            mySwiper.setWrapperTransition(300);
            if (slideCenter < swiperWidth / 2) {
                mySwiper.setWrapperTranslate(0)
            } else if (slideCenter > maxWidth) {
                mySwiper.setWrapperTranslate(maxTranslate)
            } else {
                nowTlanslate = slideCenter - swiperWidth / 2
                mySwiper.setWrapperTranslate(-nowTlanslate)
            }
        }
        mySwiper.on('tap', function (swiper, e) {
            e.preventDefault();
            caclOffset(mySwiper, swiper.slides[swiper.clickedIndex]);
            //控制top nav激活样式
            $(".js-type-top-nav .active").removeClass('active');
            $(".js-type-top-nav .swiper-slide").eq(swiper.clickedIndex).addClass('active');
            //同步点击标签切换到对应tab页面
            swiperNewslist.slideTo(swiper.clickedIndex);
            //todo function
        });

        var swiperNewslist = new Swiper('.js-type-tab-page', {
            autoHeight: true,
            onSlideChangeStart: function () {
                caclOffset(mySwiper, mySwiper.slides[swiperNewslist.activeIndex]);
                $(".js-type-top-nav .active").removeClass('active');
                $(".js-type-top-nav .swiper-slide").eq(swiperNewslist.activeIndex).addClass('active');
            }
            //todo function
        });
        if (typeof (bit_locationInfo) != "undefined" && typeof (bit_locationInfo.cityId) != "undefined") {
            var cityName = bit_locationInfo.cityName;
            $(".js-type-top-nav .swiper-slide").each(function (index, item) {
                if ($(this).find("span").html() == cityName) {
                    $(".js-type-top-nav .active").removeClass('active');
                    $(".js-type-top-nav .swiper-slide").eq(index).addClass('active');
                    swiperNewslist.slideTo(index);
                }
            });
        }
    </script>
</body>
</html>
