@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>车型对比工具</title>
    <!--#include file="/ushtml/0000/myiche2015_cube_duibi_style-news-1003.shtml"-->
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/WirelessJsv2/CommonJs.js?v=20130606"></script>
</head>
<body>
    @Html.Partial("~/html/TopDownloadLayer.cshtml")
    <div id="container">
        <!--新加弹出层 start-->
        <div id="master_container" style="z-index: 888888;" class="brandlayer mthead">
            @Html.Partial("/html/compareCarTemplate.cshtml")
        </div>

        <!-- header start -->
        <div class="op-nav">
            <a id="gobackElm" href="javascript:;" class="btn-return">返回</a>
            <div class="tt-name">
                <a href="http://m.yiche.com/" class="yiche-logo">汽车</a><h1>对比工具</h1>
            </div>
            <!--#include file="/include/pd/2016/wap/00001/201607_wap_common_ejdht_Manual.shtml"-->
        </div>
        <div class="op-nav-mark" style="display: none;"></div>
        <!-- header end -->
        <div class="m-tool-compare y2015">
            <div class="config-up-note">
                <p class="note">数据仅供参考，不构成买卖协议，实际以店内销售车辆为准。</p>
            </div>
            <div id="CarCompareContent">
            </div>
            <div class="m-statement">以上参数配置信息仅供参考，实际请以店内销售车辆为准。如果发现信息有误，<a href="http://m.yiche.com/wap2.0/feedback/">“欢迎您及时指正！”</a></div>
        </div>
        <!--分类 start-->
        <div class="float-catalog-mask" id="popup-menumask" style="display: none"></div>
        <div id="popup-menu" class="float-catalog">
            目录
            <div id="popup-menulist" class="catalog-list" style="display: none;">
                <ul></ul>
                <div class="ico-catalog-arrow"></div>
            </div>
        </div>
        <!--分类 end-->
        <script type="text/javascript">
            var url = "http://car.m.yiche.com/";
        </script>
        <div class="footer15">
            <!--搜索框-->
            @Html.Partial("~/html/footersearch.cshtml")
            @Html.Partial("~/html/footerV3.cshtml")
        </div>
        <div class="float-r-box">
            <!--#include file="/include/pd/2014/wapCommon/00001/201511_wap_common_ycfd_Manual.shtml"-->
        </div>
    </div>
    <!--选装包弹层-->
    <div class="pop-optional-mask" style="display:none;"></div>
    <div class="pop-optional" style="display:none;"></div>
    <script type="text/javascript" charset="utf-8" src="http://ip.bitauto.com/iplocation/setcookie.ashx"></script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/jscommon/juqery/jquery-1.9.1.min.js"></script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/wirelessjsv2/jquery.lazyload.min.js"></script>
    <script type="text/javascript">
        var apiBrandId = 0;
        var apiSerialId = 0;
        var apiCarId = 0;
    </script>
    @*<script src="/js/v2/iscroll.js?v=2015112415"></script>
    <script src="/js/v2/underscore.js?v=2015112415"></script>
    <script src="/js/v2/model.js?v=2015112415"></script>
    <script src="/js/v2/note.js?v=2015112415"></script>
    <script src="/js/v2/rightswipe.js?v=2015112415"></script>
    <script src="/js/v2/brand.js?v=2015112415"></script>
    <script src="/js/addcompareV2.js?v=2015112415"></script>*@
    <script type="text/javascript" src="http://image.bitautoimg.com/mergejs,s=carchannel/wirelessjsv2/v2/iscroll.js,carchannel/wirelessjsv2/v2/underscore.js,carchannel/wirelessjsv2/v2/model.js,carchannel/wirelessjsv2/v2/rightswipe.js,carchannel/wirelessjsv2/v2/note.js,carchannel/wirelessjsv2/v2/brand.js,carchannel/wirelessjsv2/addcompareV2.js?v=201711101016"></script>
    @*<script type="text/javascript" src="http://image.bitautoimg.com/carchannel/wirelessjsv2/carcomparetoolV3.min.js?v=201712111809"></script>*@
    <script type="text/javascript" src="/js/getareaprice.js?v=20170525"></script>
    <script type="text/javascript" src="/js/carcomparetoolV3.js?v=20160713"></script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/jsStat/CarCompareStatForWireless.js?201412"></script>
    <script type="text/javascript">
        function initCarInfo(carId) {
            if (carId == "") {
                initPageForCompare();
            }
            else {
                loadJS.push("http://api.car.bitauto.com/CarInfo/GetCarParameter.ashx?v=20171211&isParamPage=1&carids=" + carId, "utf-8", function () {
                    initPageForCompare();
                });
            }
        }
        initCarInfo('@(Request.QueryString["carIDs"])');
    </script>
</body>
</html>