@{
    Layout = null;
}
@using System.Globalization
@model BitAuto.CarChannel.BLL.Data.CarEntity
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <link rel="canonical" href="http://car.bitauto.com/@(Model.Serial.AllSpell)/m@(Model.Id)/peizhi/" />
    <title>【@(Model.Serial.SeoName)@(Model.Serial.Brand.MasterBrand.Name+Model.Serial.Name) 】参数配置表_@(Model.Serial.SeoName)发动机配置-手机易车网</title>
    <meta name="Keywords" content="@(Model.Serial.SeoName)参数,@(Model.Serial.SeoName)配置,@(Model.Serial.Brand.MasterBrand.Name+Model.Serial.Name),@(Model.Serial.SeoName)参数配置表,@(Model.Serial.SeoName)发动机配置,易车网,car.m.yiche.com" />
    <meta name="Description" content="@(Model.Serial.Brand.MasterBrand.Name+Model.Serial.Name)配置,手机易车网@(Model.Serial.Brand.MasterBrand.Name+Model.Serial.Name)配置参数表,包括,@(Model.Serial.SeoName)发动机,@(Model.Serial.SeoName)变速箱,@(Model.Serial.SeoName)车轮,@(Model.Serial.SeoName)灯光等配置参数。" />
    <!--#include file="/ushtml/0000/myiche2015_cube_chekuanpeizhi-1020.shtml"--> 
</head>
<body>
    @Html.Partial("~/html/TopDownloadLayer.cshtml")
    <script type="text/javascript">
        var carlevel = '@Model.Serial.Level.Name';
    </script>
    <div id="container">
        <div class="mbt-page">
            <!-- header start -->
            <div class="op-nav">
                <a id="gobackElm" href="javascript:;" class="btn-return">返回</a>
                <div class="tt-name">
                    <a href="http://m.yiche.com/" class="yiche-logo">汽车</a><h1>@(Model.Serial.ShowName)</h1>
                </div>
                <!--#include file="/include/pd/2016/wap/00001/201607_wap_common_ejdht_Manual.shtml"-->
            </div>
            <div class="op-nav-mark" style="display: none;"></div>
            <!-- header end -->
            <!-- 选择车款 start -->
            <a href="###" class="change-car-top" data-action="firstmodel" data-id="@Model.SerialId">
                <span>车款</span>
                <strong>@(Model.CarYear>0?Model.CarYear +"款 ":"")@(Model.Name)</strong>
            </a>
            <!-- 选择车款 end -->
            <!-- tabs start -->
            <div class="first-tags">
                <ul>
                    <li><a href="/@Model.Serial.AllSpell/m@(ViewBag.CarId)"><span>综述</span></a></li>
                    <li><a href="http://price.m.yiche.com/nc@(ViewBag.CarId)/"><span>报价</span></a></li>
                    <li class="current"><a href="/@Model.Serial.AllSpell/m@(ViewBag.CarId)/peizhi"><span>配置</span></a></li>
                    <li><a href="http://photo.m.yiche.com/car/@(ViewBag.CarId)/"><span>图片</span></a></li>
                </ul>
            </div>
            <!-- tabs end -->
            <div>
                <div class="chek-peizhi">
                    @Html.Raw(ViewBag.CarAllParamHTML)
                    <div class="m-statement">
                        以上参数配置信息仅供参考，实际请以店内销售车辆为准。如果发现信息有误，<a href="http://m.yiche.com/wap2.0/feedback/" style="color:#000">欢迎您及时指正！</a>
                    </div>
                </div>
                <div class="sum-btn sum-btn-one">
                    <ul>
                        <li>
                            <a href="javascript:void(0)" id="car-compare-@(ViewBag.CarId)" data-action="car" data-id="@(ViewBag.CarId)" data-name="@(Model.Serial.Name) @(Model.Name)">加入对比</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="float-catalog" id="popMenu">
                目录
                <div class="catalog-list" id="menu" style="display:none">
                    <ul>
                        @Html.Raw(ViewBag.CarAllParamMenu)
                    </ul>
                    <div class="ico-catalog-arrow"></div>
                </div>
            </div>
        </div>
        <div class="float-catalog-mask" id="popup-menumask" style="display:none"></div>
        <!--#include file="/include/pd/2012/wap/00001/201317_wap_cxy_adb_Manual.shtml"-->
        <!-- black popup end -->
        <!--新加弹出层 start-->
        <div id="master_container" style="z-index:888888;display:none" class="brandlayer mthead">
            @Html.Partial("~/html/compareCarTemplate.cshtml")
        </div>
        <!--新加弹出层 end-->
        <!--车款层 start-->
        <div class="leftmask mark leftmask1" style="display: none;"></div>
        <div id="popupCar" class="leftPopup car-model models original firstmodel" data-back="leftmask1" style="display: none" data-key="model">
            <div class="swipeLeft swipeLeft-sub">
                <div class="loading">
                    <img src="http://image.bitautoimg.com/uimg/mbt2015/images/loading.gif" alt="" />
                    <p>正在加载...</p>
                </div>
            </div>
        </div>
        <!--车款层 end-->
        <!--loading模板 start -->
        <div class="template-loading" style="display: none;">
            <div class="loading">
                <img src="http://image.bitautoimg.com/uimg/mbt2015/images/loading.gif" alt="" />
                <p>正在加载...</p>
            </div>
        </div>
        <!--loading模板 end -->
        <!--车款模板 start-->
        <script type="text/template" id="firstModelTemplate">
            { for(var n in CarList){ }
            {var iszx = arrMark[n.replace('s', '')]}
            <div class="tt-small" {=!iszx ? 'data-slider="pic-txt-h"':''}>
                <span>
                    {= n.replace('s','')+'款' }
                    {if(!iszx){}
                    <em>[停售]</em>
                    {}}
                </span>
                {if(!iszx){}
                <i></i>
                {}}
            </div>

            <!-- 图文混排横向 start -->
            <div class="pic-txt-h pic-txt-9060 tone {=iszx||salesYearCount ==0?'open':''}">
                {salesYearCount++;}
                <ul>
                    {for(var i=0;i < CarList[n].length;i++){}
                    <li {=CarList[n][i].CarId.toString() ==(api.model.currentid.toString()) ? 'class="current"':''}">
                        <a href="#" data-id="{= CarList[n][i].CarId}">
                            <h4>{= CarList[n][i].CarName} {=CarList[n][i].SaleState =="在销"?"":(CarList[n][i].SaleState=="待销"?"[未上市]":"[停售]")}</h4>
                            <p><strong>{= CarList[n][i].ReferPrice.toString() == "" ? "暂无":CarList[n][i].ReferPrice+'万'}</strong></p>
                        </a>
                    </li>
                    {}}
                </ul>
            </div>
            {}}
            {salesYearCount=0;}
        </script>
        <!--车款模板 end-->
        <!--一级公共模板 start-->
        <script type="text/template" id="duibibtnTemplate">
            <div class="y2015-car-01">
                <div class="slider-box">
                    <ul class="first-list">
                        {for(var i =0;i< list.SelectedCars.length;i++){}
                        <li><div class="line-box"><a class='select' href="/m{= list.SelectedCars[i].CarId }/">{=list.SelectedCars[i].CarName }</a><a href="javascript:;" data-carid="{=list.SelectedCars[i].CarId }" class="btn-close"><i></i></a></div></li>
                        {}}
                        {for(var i =0;i< list.AddLables.Count;i++){}
                        <li class="add"><div class="line-box"><a href="javascript:;">添加对比车款</a></div></li>
                        {}}
                        <li class="alert">最多对比4个车款</li>
                    </ul>
                </div>
            </div>
            <div class="swipeLeft-header">
                <a href="#" class="btn-clear">清除</a>
                <!--btn-clear disable-->
                <a href="#" class="btn-comparison">开始对比</a>
                <!--btn-comparison disable-->
                <div class="clear"></div>
            </div>
        </script>
        <!--一级公共模板 end-->
        <div class="leftmask duibi-leftmask leftmask2 " style="display: none;"></div>
        <div class="leftPopup duibicar duibi-leftPopup" data-zindex="777777" data-back="leftmask2" style="display: none;">
            <div class="swipeLeft">
                <div class="y2015-car-01">
                    <ul class="first-list"></ul>
                </div>
                <div class="swipeLeft-header">
                    <a href="###" class="btn-clear">清空</a>
                    <!--btn-clear disable-->
                    <a href="###" class="btn-comparison">开始对比</a>
                    <!--btn-comparison disable-->
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <div class="float-r-box">
            <!--#include file="/include/pd/2014/wapCommon/00001/201511_wap_common_ycfd_Manual.shtml"-->
            <a id="compare-pk" href="#compare" data-action="duibicar" class="float-r-ball float-pk">
                <span><p>对比</p></span>
                <i></i>
            </a>
        </div>

        <script type="text/javascript">
            var CarCommonBSID = "@(Model.Serial == null || Model.Serial.Brand == null ? 0 : Model.Serial.Brand.MasterBrandId)"; //大数据组统计用
            var CarCommonCBID = "@(Model.Serial == null || Model.Serial.Brand == null ? 0 : Model.Serial.Brand.Id)";
            var CarCommonCSID = "@(Model.Serial == null ? 0 : Model.Serial.Id)";
            var CarCommonCarID = '@(Model.Id)';
            var url = "http://car.m.yiche.com/@(Model.Serial.AllSpell)/";
        </script>
        <!--footer start-->
        <div class="footer15">
            <!--搜索框-->
            @Html.Partial("~/html/footersearch.cshtml")
            @Html.Partial("~/html/footerV3.cshtml")
        </div>
        <!--footer end-->
    </div>
    <!-- 选装弹层 start -->
    <div class="pop-optional-mask" style="display:none;"></div>
    <div class="pop-optional" style="display:none;">
        <!--data-optionID和表格中的选装参数对应输出-->
        @Html.Raw(ViewBag.CarAllParamPop)
    </div>
    <!-- 选装弹层 end -->
    <script type="text/javascript">

        $(document).on('touchstart', function (event) {
            var clickEle = event.target.id;
            if((clickEle!="popMenu"&&event.target.parentNode.id!="popMenu")&&
                ($(event.target).closest(".catalog-list").attr("id")!="menu")){
                $(".catalog-list").hide();
                $("#popup-menumask").hide();
            }
        });
        $(function() {
            var $menu_list = $("#menu");
            $("#popMenu").off("click").on("click", function(event) {
                var target = event.srcElement || event.target;
                if (target.id != "popMenu") return;
                if ($menu_list.is(":hidden")) {
                    $menu_list.show();
                    $("#popup-menumask").show();
                } else {
                    $menu_list.hide();
                    $("#popup-menumask").hide();
                }
            });
        });
        $(".leftmask").click(function () {
            $(".swipeLeft").removeClass("swipeLeft-block");
            $(this).hide();
            $(".leftPopup").css("zIndex", 0).hide();
        });
        //弹出层中菜单选项按下事件
        $("#menu li").click(function() {
            $("#menu li").removeClass("current");
            $(this).addClass("current");
            $(".catalog-list").hide();
            $("#popup-menumask").hide();
        });
        // 选装弹层
        $(function () {
            var halfScreenHeight = $(window).height() / 2;
            $('.optional.type1').click(function (e) {
                e.stopPropagation();
                var thisID = $(this).data('optionid');
                var thisTop = $(this).offset().top;
                var thisLeft = $(this).offset().left;
                var $popOptional = $('.pop-optional');

                $('body').css('overflow', 'hidden');
                $('.pop-optional-mask').show();

                $popOptional.find('ul[data-optionid=' + thisID + ']').show();

                var popOptionalHeight = $popOptional.height();
                if (e.clientY < halfScreenHeight) {
                    $popOptional.css({
                        'top': (thisTop + 30),
                        'left': (thisLeft - 100)
                    });
                    $popOptional.addClass('pop-optional-top');
                } else {
                    $popOptional.css({
                        'top': (thisTop - popOptionalHeight - 15),
                        'left': (thisLeft - 100)
                    });
                    $popOptional.addClass('pop-optional-bottom');
                }

                $popOptional.show();
            });
            $('.pop-optional-mask').click(function () {
                $('body').css('overflow', 'auto');
                $('.pop-optional-mask').hide();
                $('.pop-optional').hide().removeClass('pop-optional-top pop-optional-bottom')
                    .find('ul').hide();
            });
        })
    </script>


    @*<script type="text/javascript" src="/js/v2/iscroll.js"></script>
    <script type="text/javascript" src="/js/v2/underscore.js"></script>
    <script type="text/javascript" src="/js/v2/model.js"></script>
    <script type="text/javascript" src="/js/v2/rightswipe.js"></script>
    <script type="text/javascript" src="/js/v2/note.js"></script>
    <script type="text/javascript" src="/js/v2/brand.js"></script>
    <script type="text/javascript" src="/js/waitcompareV2.js"></script>*@
    <script type="text/javascript" src="http://image.bitautoimg.com/mergejs,s=carchannel/wirelessjsv2/v2/iscroll.js,carchannel/wirelessjsv2/v2/underscore.js,carchannel/wirelessjsv2/v2/model.js,carchannel/wirelessjsv2/v2/rightswipe.js,carchannel/wirelessjsv2/v2/note.js,carchannel/wirelessjsv2/v2/brand.js,carchannel/wirelessjsv2/waitcompareV2.min.js?v=201707031121"></script>
    <script type="text/javascript">
        $(function () {
            var $body = $('body');
            $body.trigger('rightswipe1',{
                actionName: '[data-action=firstmodel]',
                fliterTemplate:function (templateid, paras) {
                    return "#firstModelTemplate";
                }});
            api.model.currentid = '@(Model.Id)';
            //车款点击回调事件
            api.model.clickEnd = function (paras) {
                //车款ID
                api.model.currentid = paras.modelid;
                var $back = $('.' + $leftPopupModels.attr('data-back'));
                $back.trigger('close');
                _commonSlider($("[data-action=firstmodel]"),$body);
                setTimeout(function(){ document.location.href = "/@(Model.Serial.AllSpell)/m"+ paras.modelid +"/peizhi/";},500);
            }
        })

        //层自适应
        var _commonSlider = function ($model, $body) {
            if ($model.height() > $(document.body).height()) {
                $(document.body).height($model.height())
            } else if ($model.height() < $(document.body).height()) {
                $('#container', $body).css({ 'overflow': 'hidden' }, { width: '100%' }).height(document.documentElement.clientHeight);
                $('.brandlist').height(document.documentElement.clientHeight);
            }
        }

    </script>

    <script type="text/javascript">
        var apiBrandId='@(Model.Serial.BrandId)';
        var apiSerialId='@(Model.SerialId)';
        var apiCarId='@(Model.Id)';
        var CarCommonCSID = '@(Model.Serial.Id.ToString(CultureInfo.InvariantCulture))';
        var compareConfig = {
            serialid: CarCommonCSID
        };
        $(function(){
            WaitCompare.initCompreData(compareConfig);
        });
    </script>

    <script type="text/javascript">
        var  zamCityId= (typeof bit_locationInfo !="undefined")?bit_locationInfo.cityId:"201",
			modelStr = '@(Model.SerialId)-' + (zamCityId.length >= 4 ? zamCityId.substring(0, 2) : zamCityId.substring(0, 1)) + '-' + zamCityId + '';
        var zamplus_tag_params = {
            modelId:modelStr,
            carId:@Model.Id
            };
    </script>
    <script type="text/javascript">
        var _zampq = [];
        _zampq.push(["_setAccount", "12"]);
        (function () {
            var zp = document.createElement("script"); zp.type = "text/javascript"; zp.async = true;
            zp.src = ("https:" == document.location.protocol ? "https://" : "http://") + "cdn.zampda.net/s.js";
            var s = document.getElementsByTagName("script")[0]; s.parentNode.insertBefore(zp, s);
        })();
    </script>
</body>
</html>
  