@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta content="yes" name="apple-mobile-web-app-capable" />
    <meta content="black" name="apple-mobile-web-app-status-bar-style" />
    <meta content="telephone=no" name="format-detection" />
    <title>【汽车标志_汽车品牌大全_@DateTime.Now.ToString("yyyy") 年热门车型推荐】-手机易车网</title>
    <meta name="keywords" content="汽车大全,汽车标志,车型大全,@DateTime.Now.ToString(" yyyy") 年热门车型，易车网" />
    <meta name="description" content="手机易车网选车频道，为您提供各种汽车品牌型号及报价信息，主要涵盖：“汽车品牌、汽车标志、汽车报价、@DateTime.Now.ToString(" yyyy") 年热门车型推荐等,是您选车购车的第一网络平台." />
    <!--#include file="/ushtml/0000/myiche2015_cube_brand_style-996.shtml"-->
</head>
<body>
    @Html.Partial("~/html/TopDownloadLayer.cshtml")
    @Html.Partial("/html/WTParams.cshtml")
    <div class="mbt-page">
        <!-- header start -->
        <div class="op-nav">
            <a id="gobackElm" href="javascript:;" class="btn-return">返回</a>
            <div class="tt-name">
                <a href="http://m.yiche.com/" class="yiche-logo">汽车</a><h1>选车</h1>
            </div>
            <!--#include file="/include/pd/2016/wap/00001/201607_wap_common_ejdht_Manual.shtml"-->
        </div>
        <script type="text/javascript">
            if (typeof (WtFrom) != "undefined" && WtFrom == "mcfw99") {
                $(".op-nav").hide();
            }
        </script>
        <div class="op-nav-mark" style="display: none;"></div>
        <!-- header end -->
        <div class="brandfilter">
            <!-- 标签切换 start -->
            <div class="first-tags">
                <ul>
                    <li class="current"><a href="/brandlist.html" data-channelid="27.160.2196"><span>按品牌</span></a></li>
                    <li id="xc_condition"><a href="/" data-channelid="27.160.2195"><span>按条件</span></a></li>
                    <li id="xc_scene" class="tags-new"><a href="/scenelist.html" data-channelid="27.160.2194"><span>按情景<b><i>NEW<i></i></i></b></span></a></li>
                </ul>
            </div>
            <!-- 标签切换 end -->
            <!-- 按品牌选车 start -->
            <div class="brand-list bybrand_list">
                <div class="tt-small phone-title" data-key="#">
                    <span>推荐</span>
                </div>
                <div class="brand-hot">
                    <ins id="div_60f12da8-7643-4414-a939-780a8e12ece0" data-type="ad_play" data-adplay_ip="" data-adplay_areaname="" data-adplay_cityname="" data-adplay_brandid="" data-adplay_brandname="" data-adplay_brandtype="" data-adplay_blockcode="60f12da8-7643-4414-a939-780a8e12ece0">
                    </ins>
                    @*@if (ViewBag.re == "true")
                        {
                            @Html.Partial("~/html/HomepageHotBrandSEO.cshtml")
                        }
                        else
                        {
                            @Html.Partial("~/html/HomepageHotBrand.cshtml")
                        }*@
                </div>
                <div class="hot-car-list">
                    <ins id="div_8f582dc7-7250-453a-b8f7-fcc9bcc2df56" data-type="ad_play" data-adplay_ip="" data-adplay_areaname="" data-adplay_cityname="" data-adplay_brandid="" data-adplay_brandname="" data-adplay_brandtype="" data-adplay_blockcode="8f582dc7-7250-453a-b8f7-fcc9bcc2df56">
                    </ins>
                </div>
                @(Html.Raw(ViewBag.brandListHtml))
            </div>
            <!-- 按品牌选车 end -->
            <!-- 字母导航 start -->
            <div class="fixed-nav" style="opacity: 0; display: block;">
                <ul class="rows-box">
                    <li><a href="#">#</a></li>
                    @(Html.Raw(ViewBag.letterListHtml))
                </ul>
            </div>
            <div class="alert" style="display: none;"><span>Y</span></div>
            <!-- 字母导航 end -->
        </div>
        <!-- <ins id="div_2a05eecc-6416-4c0b-ab7e-018e54388d3a" type="ad_play" adplay_IP="" adplay_AreaName="" adplay_CityName="" adplay_BrandID="" adplay_BrandName="" adplay_BrandType="" adplay_BlockCode="2a05eecc-6416-4c0b-ab7e-018e54388d3a">
        </ins>
         -->
        <!-- bottom search start -->
        <!--
        <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/WirelessJs/anchorv2.js?v=201209"></script> -->
        <!-- bottom search end -->
    </div>
    <!--车型层 start-->
    @Html.Partial("~/html/selectMasterBrandTemplate.cshtml")
    <!--车型模板 end-->
    <!--baidu ad star-->
    <!--
    <script type="text/javascript">
        /*yiche wap news*/
        var cpro_id = "u1409352";
    </script>
    <script src="http://cpro.baidustatic.com/cpro/ui/cm.js" type="text/javascript"></script> -->
    <!--baidu ad end-->
    <script type="text/javascript">
        var url = "http://m.yiche.com/";
    </script>
    <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/wirelessjsv2/v2/iscroll.js"></script>
        <script type="text/javascript" src="http://image.bitautoimg.com/carchannel/WirelessJsv2/v2/underscore.js"></script>
        <script src="/js/v2/swiper-3.3.1.min.js" type="text/javascript"></script>
        <script type="text/javascript" src="/js/v2/model.js"></script>
        <script type="text/javascript" src="/js/v2/rightswipe.js"></script>
        <script type="text/javascript" src="/js/v2/note.js"></script>
    @*<script type="text/javascript" src="http://image.bitautoimg.com/mergejs,s=carchannel/wirelessjsv2/v2/iscroll.min.js,carchannel/wirelessjsv2/v2/underscore.min.js,carchannel/wirelessjsv2/v2/swiper-3.3.1.min.js,carchannel/wirelessjsv2/v2/model.min.js,carchannel/wirelessjsv2/v2/rightswipe.min.js,carchannel/wirelessjsv2/v2/note.min.js?v=201700110911"></script>*@
    <script type="text/javascript">
        var $body = $('body');

        $(function () {
            if (typeof (bitLoadScript) == "undefined")
                bitLoadScript = function (url, callback, charset) {
                    var s = document.createElement("script"); s.type = "text/javascript"; if (charset) s.charset = charset;
                    if (s.readyState) { s.onreadystatechange = function () { if (s.readyState == "loaded" || s.readyState == "complete") { s.onreadystatechange = null; if (callback) callback(); } }; }
                    else { s.onload = function () { if (callback) callback(); }; }
                    s.src = url; document.getElementsByTagName("head")[0].appendChild(s);
                };

            bitLoadScript('http://image.bitautoimg.com/stat/PageAreaStatistics.js', function () {
                PageAreaStatistics.init("281");
            }, 'utf-8');
            var $body = $('body');
            //笔记本滑动效果
            $body.trigger('note');

            var reTemp = "@ViewBag.re";
            if (reTemp.toString() != "true") {  //右侧子品牌效果
                $body.trigger('rightswipe3', { model_hide: true });
            }

            //图片加载
            bitLoadScript("http://image.bitautoimg.com/carchannel/wirelessjsv2/jquery.lazyload.min.js", function () {
                $("span.brand-logo>img").lazyload({ effect: "fadeIn", threshold: 50 });
            }, "utf-8");
        });
        function adCallback(objId) {
            var parentNode = document.getElementById(objId).parentNode;
            $(parentNode).imgSucceed({
                end: function () {  $body.trigger('note'); }
            });
        }
    </script>
    <div class="footer15">
        <!--搜索框-->
        @Html.Partial("~/html/footersearch.cshtml")
        <div class="breadcrumb">
            <div class="breadcrumb-box">
                <a href="http://m.yiche.com/">首页</a> &gt; <span>选车</span>
            </div>
        </div>
        @Html.Partial("~/html/footerV3.cshtml")
    </div>
    <div class="float-r-box">
        <!--#include file="/include/pd/2014/wapCommon/00001/201511_wap_common_ycfd_Manual.shtml"-->
    </div>
</body>
</html>